.text-wrap{
    background-color: #000;
}
.feature{
   color:aqua;
   font-size:90px;
   line-height: 1.1;
}
.proce{
    color: #fff;
    margin-bottom:20px;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: .12em;
}